My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "contact us",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "email-id",
              "requiredField": true
            },
            {
              "fieldLabel": "phone no",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "e9b3f187-5ab2-4d66-9b8a-eee26e387d7d",
      "name": "On form submission",
      "webhookId": "6f5add18-0935-4fca-8791-743cb1a2712e"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1id2W99L9d5gkpz5NuE0FXTEbMQXyOaaqcXntJHiFN8o",
          "mode": "list",
          "cachedResultName": "n8n sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1id2W99L9d5gkpz5NuE0FXTEbMQXyOaaqcXntJHiFN8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1id2W99L9d5gkpz5NuE0FXTEbMQXyOaaqcXntJHiFN8o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email-id": "={{ $json['email-id'] }}",
            "phone no": "={{ $json['phone no'] }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "formMode": "={{ $json.formMode }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email-id",
              "displayName": "email-id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone no",
              "displayName": "phone no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "ae5c5843-eef0-464f-aa77-7c8f5f3cb443",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lgvUD1qt5Wc2tkpI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['email-id'] }}",
        "subject": "text email",
        "message": "this is a text email by n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "e6a5e49b-d199-4d31-9861-1fe35e860b31",
      "name": "Send a message",
      "webhookId": "12c588cc-9fa3-467c-a50c-475d8d90beb8",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q90xIpVVXmhgUyIw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a62075b-e5ac-4324-9f23-c5da2bcace9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c28e34ed32a3aedc16e2c3c62b4052d52993f12859f28f41c4d86edc2295f07d"
  },
  "id": "isTiuZ5sYtzEFjw0",
  "tags": []
}